<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="acs-sms-plugin"
    version="1.0.0">
    <name>Read SMS Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="AcsSmsPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="AcsSmsPlugin">
          <param name="android-package" value="com.projects.acs.AcsSmsPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/acs/AcsSmsPlugin.java" target-dir="src/com/acs/" />
    </platform>

</plugin>
